[include fluidd.cfg]
# This file contains pin mappings for the Anycubic i3 Mega with
# Ultrabase from 2017. (This config may work on an Anycubic i3 Mega v1
# prior to the Ultrabase if you comment out the definition of the
# endstop_pin in the stepper_z1 section.) To use this config, the
# firmware should be compiled for the AVR atmega2560.

# See docs/Config_Reference.md for a description of parameters.
[include mainsail.cfg]

##############################################
# Eigene Includes
##############################################
[include includes/macros.cfg]
[include includes/start_stop.cfg]
[include includes/bltouch.cfg]

##############################################
# Für Exclude Objects Plugin
##############################################
[exclude_object]

[stepper_x]
step_pin: PF0
dir_pin: PF1
enable_pin: !PD7
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PE5
position_min: -5
position_endstop: -5
position_max: 225                               ;Anpassung Druckbett auf Knuttwurst einstellungen
homing_speed: 30.0

[stepper_y]
step_pin: PF6
dir_pin: !PF7
enable_pin: !PF2
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PL7
position_endstop: 0
position_max: 210
homing_speed: 30.0

[stepper_z]
step_pin: PL3
dir_pin: !PL1
enable_pin: !PK0
microsteps: 16
rotation_distance: 8
position_max: 210                               ;Anpassung Druckbett auf Knuttwurst einstellungen
homing_speed: 5.0
#Anpassung damit BL-Toch als Virtueller Endstop genutzt wurd
#endstop_pin: probe:z_virtual_endstop
endstop_pin: ^!PD3                             ;Wurde auskommentiert, da dies laut Doku (https://www.klipper3d.org/BLTouch.html#:~:text=If%20the%20BL%2DTouch%20will%20be%20used%20to%20home%20the%20Z%20axis%20then%20set%20endstop_pin%3A) nicht benötigt wird bei BLTouchhttps://www.klipper3d.org/BLTouch.html#:~:text=If%20the%20BL%2DTouch%20will%20be%20used%20to%20home%20the%20Z%20axis%20then%20set%20endstop_pin%3A
position_endstop: 0.0                          ;Wurde auskommentiert, da dies laut Doku (https://www.klipper3d.org/BLTouch.html#:~:text=If%20the%20BL%2DTouch%20will%20be%20used%20to%20home%20the%20Z%20axis%20then%20set%20endstop_pin%3A) nicht benötigt wird bei BLTouchhttps://www.klipper3d.org/BLTouch.html#:~:text=If%20the%20BL%2DTouch%20will%20be%20used%20to%20home%20the%20Z%20axis%20then%20set%20endstop_pin%3A

[stepper_z1]
step_pin: PC1
dir_pin: !PC3
enable_pin: !PC7
microsteps: 16
rotation_distance: 8
endstop_pin: ^!PL6

[extruder]
step_pin: PA4
dir_pin: PA6
enable_pin: !PA2
microsteps: 16
#rotation_distance: 34.557 ;Original Wert 10mm zuwenig Extrudiert
rotation_distance: 28.65984795
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB4
sensor_type: ATC Semitec 104GT-2
sensor_pin: PK5
#control: pid
#pid_Kp: 15.717
#pid_Ki: 0.569
#pid_Kd: 108.451
min_temp: 0
max_temp: 260 ;245 Origianl Wert. Wurde auf 260 angepasst laut Anycubic Doku (https://drive.google.com/file/d/13hGH6_5x4iELyqkURTVaChUewx2xc3V2/view) Seite 5
max_extrude_only_distance: 150.0

[heater_fan extruder_fan]
pin: PL5

[heater_bed]
heater_pin: PH5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PK6
#control: pid
#pid_Kp: 74.883
#pid_Ki: 1.809
#pid_Kd: 775.038
min_temp: 0
max_temp: 110

[fan]
pin: PH6

[mcu]
#serial: /dev/ttyUSB0
serial: /dev/serial/by-id/usb-Silicon_Labs_CP2102_USB_to_UART_Bridge_Controller_0001-if00-port0

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 10
max_z_accel: 60

[heater_fan stepstick_fan]
pin: PH4

[virtual_sdcard]
path: ~/printer_data/gcodes

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 16.468
#*# pid_ki = 0.533
#*# pid_kd = 127.216
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 70.936
#*# pid_ki = 1.551
#*# pid_kd = 811.328
#*#
#*# [bltouch]
#*# z_offset = 1.049
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.692250, 0.716000, 0.633500, 0.609750, 0.664750, 0.713500, 0.656000, 0.666000, 0.554750
#*# 	  0.761000, 0.706000, 0.771000, 0.819750, 0.734750, 0.731000, 0.827250, 0.736000, 0.651000
#*# 	  0.828500, 0.837250, 0.792250, 0.817250, 0.871000, 0.979750, 0.903500, 0.807250, 0.731000
#*# 	  0.852250, 0.941000, 0.847250, 0.897250, 0.908500, 1.001000, 0.959750, 0.872250, 0.784750
#*# 	  0.842250, 0.911000, 0.918500, 0.932250, 0.963500, 1.056000, 1.002250, 0.912250, 0.834750
#*# 	  0.746000, 0.817250, 0.909750, 0.876000, 0.914750, 0.999750, 0.914750, 0.843500, 0.812250
#*# 	  0.666000, 0.826000, 0.834750, 0.829750, 0.888500, 1.007250, 0.952250, 0.917250, 0.793500
#*# 	  0.607250, 0.754750, 0.831000, 0.803500, 0.804750, 0.963500, 0.879750, 0.788500, 0.796000
#*# 	  0.516000, 0.644750, 0.661000, 0.731000, 0.682250, 0.733500, 0.866000, 0.793500, 0.723500
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 200.0
#*# min_y = 5.000000000000002
#*# max_y = 189.96
