# 
# Klipper configuration file for Anycubic i3 MEGA S
#
# This config file contains settings of all printer pins (steppers, sensors) for Anycubic i3 mega S with TMC2208 Drivers with stock plug orientation 
# Klipper firmware should be compiled for the atmega2560
#
# Config file includes
#  - Original or 2208(2209) rotated by cable drivers
#  - Mesh bed leveling: BLtouch (3DTouch sensor from Triangelab)
#  - Manual meshed bed leveling (commented out)
#  - 'virtual_sdcard' for fast printing without gaps
#  - Beeper through M300 gcode
#  - Pause/Resume through M600 for filament change
#  - START_PRINT/END_PRINT macros should be start and end g-code in slicer
#  - Pressure Advance and Input Shaper configured
#
# 3DTouch code is commented out. Z limit switches are used to home Z axis.
#
# Video covering installation here: https://youtu.be/cAxEIdThDiQ
#
# The latest version of the config reference is also available online at:
# https://www.klipper3d.org/Config_Reference.html
[exclude_object]

##########################################
#
# Aufteilung in unterschiedliche Dateien
#
##########################################
#[include base.cfg]
#[include extruder.cfg]
[include macros.cfg]
#[include bltouch.cfg]
[include start_end.cfg]
[include mainsail.cfg]

############################################################################
##                                                                        ##
##                                Achsen                                  ##
##                                                                        ##
############################################################################
[stepper_x]
step_pin = PF0
## "!" for stock and TMC2208 with reversed plugs
#dir_pin = !PF1
dir_pin = PF1
enable_pin = !PD7
rotation_distance = 40
Full_Steps_Per_Rotation = 200
Microsteps = 16
endstop_pin = ^!PE5
position_min = -5
position_endstop = -5
position_max = 225
homing_speed = 30
homing_retract_dist = 5
second_homing_speed = 10

[stepper_y]
step_pin = PF6
## "" for stock and TMC2208 with reversed plugs
#dir_pin = PF7
dir_pin = !PF7
enable_pin = !PF2
rotation_distance = 40
Full_Steps_Per_Rotation = 200
Microsteps = 16
endstop_pin = ^!PL7
position_endstop = 0
position_max = 220
homing_speed = 50
homing_retract_dist = 5
second_homing_speed = 10

[stepper_z]
step_pin = PL3
## "" for stock and TMC2208 with reversed plugs
#dir_pin = PL1
dir_pin = !PL1
enable_pin = !PK0
rotation_distance = 8
Full_Steps_Per_Rotation = 200
Microsteps = 16
## uncomment below for 3dtouch. comment for mannual mesh bed leveling
endstop_pin = probe:z_virtual_endstop
## comment 2 lines below for 3dtouch bed leveling and to disable Z limit switches
# endstop_pin = ^!PD3
# position_endstop = 0.0
position_max = 210
position_min = -5
homing_speed = 10
homing_retract_dist = 5
second_homing_speed = 3

[stepper_z1]
step_pin = PC1
## "!" for stock and TMC2208 with reversed plugs
#dir_pin = PC3
dir_pin = !PC3
## comment below for 3dtouch bed leveling and to disable Z limit switches
# endstop_pin = ^!PL6
enable_pin = !PC7
#step_distance = .0025
rotation_distance = 8
Full_Steps_Per_Rotation = 200
Microsteps = 16
############################################################################
##                                                                        ##
##                                Achsen                                  ##
##                                                                        ##
############################################################################

[heater_fan extruder_fan]
pin = PL5

[heater_bed]
heater_pin = PH5
sensor_type = EPCOS 100K B57560G104F
sensor_pin = PK6
min_temp = 0
max_temp = 110
smooth_time = 1
#control = pid

[heater_fan stepstick_fan]
pin = PH4

[display_status]

# change filament
[pause_resume]

[firmware_retraction]
retract_length: 6
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 25
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 1
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 10
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[fan]
pin = PH6

[mcu]
serial = /dev/serial/by-id/usb-Silicon_Labs_CP2102_USB_to_UART_Bridge_Controller_0001-if00-port0

[printer]
kinematics = cartesian
max_velocity = 100
max_accel = 4000   #4000
max_accel_to_decel = 1500  #1500
max_z_velocity = 7  #7
max_z_accel = 190  #190
square_corner_velocity = 5


## do your own measurement
## https://www.klipper3d.org/Resonance_Compensation.html
#[input_shaper]
#shaper_freq_x = 85.0
#shaper_freq_y = 48.4
#shaper_type = MVZ #VZ   #3hump_ei



# enable moving befor homing
## put in terminal:
## SET_KINEMATIC_POSITION X=100 Y=100 Z=100
## then move as usual
[force_move]
enable_force_move: True


[virtual_sdcard]
path: ~/printer_data/gcodes


[output_pin BEEPER_pin]
pin: PC6
pwm: True
value: 0
shutdown_value: 0
cycle_time: 0.001
scale: 1000


[bltouch]
sensor_pin = ^PD0 #PIN21 in Marlin
control_pin = PB5 #PIN11 in Marlin
samples: 2
sample_retract_dist: 3.0
probe_with_touch_mode = True
stow_on_each_sample = False
# do your own measurement
# 132.00 - 105.00 = 27
x_offset = 27
# 91.00 - 105.00 = -14
y_offset = -14
#z_offset = 0

#Turn ON to adjust home location from 0,0,0
[safe_z_home]
home_xy_position = 112.5,105
speed = 150
z_hop = 10
z_hop_speed = 10

# bltouch mesh bed leveling
[bed_mesh]
speed = 200
horizontal_move_z = 5
mesh_min = 30,5 #23,28
mesh_max = 200,190 #190,190
probe_count = 9,9
#fade_start = 1.0
#fade_end = 10.0
algorithm = bicubic

############################################################################
##                                                                        ##
##                               Extruder                                 ##
##                                                                        ##
############################################################################
[extruder]
step_pin = PA4
## "" for stock and TMC2208 with reversed plugs
#dir_pin = PA6
dir_pin = PA6
enable_pin = PA2
#control = pid
## original extruder stepper motor
rotation_distance = 8
#E-Steps = (Full_Steps_Per_Rotation * microsteps) * rotation_distance
Full_Steps_Per_Rotation = 200
Microsteps = 16
## NEMA17 23mm stepper motor
#step_distance = .00236
nozzle_diameter = 0.400
filament_diameter = 1.750
heater_pin = PB4
sensor_type = ATC Semitec 104GT-2
sensor_pin = PK5
min_temp = 0
max_temp = 260
max_extrude_only_distance = 150.0
smooth_time = 1
min_extrude_temp = 0
#pressure_advance = 0.3624
max_extrude_cross_section = 150
############################################################################
##                                                                        ##
##                               Extruder                                 ##
##                                                                        ##
############################################################################

## manual mesh bed leveling
# [bed_mesh]
# speed = 50
# horizontal_move_z = 5
# mesh_min = 30,30
# mesh_max = 180,180
# probe_count = 5,5
# fade_start = 1.0
# fade_end = 10.0
## for Measuring Resonances through Raspberry pi
## https://www.klipper3d.org/Measuring_Resonances.html

## [mcu rpi]
## serial: /tmp/klipper_host_mcu

## [output_pin LEDlights]
## pin: rpi:gpio17
## value: 1
## shutdown_value: 1

## [adxl345]
## cs_pin: rpi:None

## [resonance_tester]
## accel_chip: adxl345
## probe_points:
##     100,100,20  # an example
#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# pid_kp = 71.881
#*# pid_ki = 1.409
#*# pid_kd = 916.483
#*# control = pid
#*#
#*# [input_shaper]
#*# shaper_type_x = 3hump_ei
#*# shaper_type_y = 3hump_ei
#*#
#*# [extruder]
#*# pid_kp = 16.513
#*# pid_ki = 0.532
#*# pid_kd = 128.178
#*# control = pid
#*#
#*# [bltouch]
#*# z_offset = 1.700
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.355000, 0.245000, 0.137500, 0.028750, -0.026250, -0.087500, -0.253750, -0.367500, -0.510000
#*# 	  0.482500, 0.347500, 0.152500, 0.066250, -0.025000, -0.066250, -0.228750, -0.387500, -0.482500
#*# 	  0.528750, 0.438750, 0.257500, 0.130000, 0.101250, -0.015000, -0.215000, -0.331250, -0.457500
#*# 	  0.476250, 0.465000, 0.262500, 0.152500, 0.135000, -0.017500, -0.206250, -0.288750, -0.431250
#*# 	  0.501250, 0.472500, 0.343750, 0.172500, 0.033750, -0.076250, -0.192500, -0.223750, -0.347500
#*# 	  0.478750, 0.460000, 0.318750, 0.135000, 0.023750, -0.003750, -0.225000, -0.326250, -0.370000
#*# 	  0.468750, 0.420000, 0.268750, 0.118750, 0.005000, -0.095000, -0.146250, -0.271250, -0.405000
#*# 	  0.506250, 0.276250, 0.170000, 0.090000, 0.018750, -0.138750, -0.287500, -0.407500, -0.456250
#*# 	  0.432500, 0.343750, 0.137500, 0.018750, 0.011250, -0.132500, -0.337500, -0.448750, -0.531250
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 200.0
#*# min_y = 5.0
#*# max_y = 189.96
