[bltouch]
sensor_pin = ^PD0 #PIN21 in Marlin
control_pin = PB5 #PIN11 in Marlin
samples: 2
sample_retract_dist: 3.0
probe_with_touch_mode = True
stow_on_each_sample = False
#x_offset = 18
x_offset = 28.5
#y_offset = -16
y_offset = -13.6
#z_offset = 0

#Turn ON to adjust home location from 0,0,0
[safe_z_home]
home_xy_position = 112.5,105
speed = 60
z_hop = 10
z_hop_speed = 10

# bltouch mesh bed leveling
[bed_mesh]
speed = 100
horizontal_move_z = 5
mesh_min = 30,5 #23,28
mesh_max = 200,190 #190,190
#probe_count = 5,5
probe_count = 9,9
algorithm = bicubic

[display_status]

[bed_screws]
screw1: 15, 15 #Vorne Link
screw2: 205, 15 #Vorne Rechts
screw3: 205, 200 #Hinten Rechts
screw4: 15, 200 #Hinten Links
#screw1: 30, 30 #Vorne Link
#screw2: 180, 30 #Vorne Rechts
#screw3: 180, 180 #Hinten Rechts
#screw4: 30, 180 #Hinten Links

[screws_tilt_adjust]
screw1: -5, 28 #Vorne Link
screw1_name: Vorne Links
screw2: 180, 30 #Vorne Rechts
screw2_name: Vorne Rechts
screw3: 188, 210 #Hinten Rechts
screw3_name: Hinten Rechts
screw4: -5, 210 #Hinten Links
screw4_name: Hinten Links
horizontal_move_z: 10
speed: 50
screw_thread: CW-M3